body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}




.Stethoscope{
    transform: rotate(45deg);
    width: 550px;
    height: 400px;
    margin-top: 7%;
    margin-left: 60%;
}